[2018-12-03 11:33] utkuufuk opened #16 "Clean repositories appear as dirty on Git version 2.7.4"
![image](https://user-images.githubusercontent.com/15212283/49371326-28234800-f708-11e8-9ced-33ecfb6b7aef.png)

[2018-12-03 12:13] isacikgoz commented on #16
fixed a9b0dec43b0cc2d4d50fafd65373362641f55996

[2018-12-03 12:13] #16 closed

[2018-12-03 16:58] utkuufuk opened #19 "App shows non-existing (deleted) remote branches"
#### Remote Repo
![screenshot from 2018-12-03 19-55-21](https://user-images.githubusercontent.com/15212283/49388682-8e728f80-f735-11e8-87b3-025ca2cf8d4f.png)
#### Gitbatch
![screenshot from 2018-12-03 19-57-14](https://user-images.githubusercontent.com/15212283/49388730-ab0ec780-f735-11e8-9d90-5ee47fd0d42f.png)

[2018-12-04 13:25] utkuufuk opened #21 "Add shortcut to allow selection of all repositories"

[2018-12-04 13:26] utkuufuk opened #22 "Make "Pull" the default mode or make it configurable"

[2018-12-04 17:21] utkuufuk commented on #19
The issue doesn't go away even after `git fetch` (Git version: 2.17.1)

[2018-12-04 17:56] isacikgoz commented on #19
Can you copy output of `git branch -r`

[2018-12-04 18:38] utkuufuk commented on #19
origin/HEAD -> origin/master
    origin/feature
    origin/master
    origin/python

[2018-12-04 20:44] isacikgoz commented on #19
You should use `git fetch --prune` to remove non-existing branches in the remote as [documentation](https://git-scm.com/docs/git-fetch#git-fetch---prune) says.
The question is; should the app add --prune option by default?

[2018-12-04 23:20] isacikgoz commented on #21
fixed on 5c481dfe96fc40b8b7ad4fdc63fa0968e6832939

[2018-12-04 23:20] #21 closed

[2018-12-04 23:33] isacikgoz commented on #22
this is a subtle issue, but I would like to hear alternative voices. For me, fetch is safe but to be more practical I understand that pull can be the first option. I will leave this issue open for a while and lets see if we will get more opinions.

[2018-12-05 06:12] utkuufuk commented on #19
I don't think it should. Maybe you can display those remote branches in a different color or put a special character next to them?

[2018-12-05 13:46] baucomen opened #24 "-v --version to show version information. useful to know.."
-v --version to show version information.

example :
[code]
or
[code]
like.

[2018-12-06 08:29] isacikgoz commented on #24
fixed on 8350ea1733f20e542c5f1791d534ef2836a097e2

[2018-12-06 08:29] #24 closed

[2018-12-07 06:45] utkuufuk opened #27 "Display repos sorted by name or date modified and also make it configurable"

[2018-12-09 00:33] isacikgoz commented on #19
see aa6f0cf9a44f502fe41aecf9ed3f5ddbb8e20a71

[2018-12-09 00:33] #19 closed

[2018-12-09 00:34] isacikgoz commented on #22
see ad96d97d0262df1e1ab3b054b8d2600c8d821d42

[2018-12-09 00:34] #22 closed

[2018-12-10 07:17] utkuufuk opened #30 "Add configuration to readme"

[2018-12-27 15:23] nandryshak opened #38 "Error when loading stashed items"
[code]

https://github.com/isacikgoz/gitbatch/blob/e566c4ba671ddb223f36cc78c4a1285cd53d767c/pkg/git/cmd-stash.go#L64

Stashed items don't always have a hash id in the message, so trying to parse it like this will fail. Use `git stash push -m 'no hash here'` to create a stash item with no hash id.

[2018-12-27 19:18] amityo opened #39 "Error on startup"
[code]

[2018-12-27 19:40] #38 closed

[2018-12-27 19:40] #39 closed

[2018-12-27 20:18] isacikgoz commented on #38
I fixed it with the pr #40 , please let me know if you have still issues. Thanks for the feedback

[2018-12-27 20:51] ObviouslyGreen opened #42 "Error when loading stashed items on a detached head"
For some reason I had a stashed commit for a repo in a detached state i.e.
`stash@{0}: WIP on (no branch): test`

[code]

Quickly through together a possible fix, but haven't tested with other stuff yet so just opening an issue instead of pr: https://play.golang.org/p/oI9XpuE8-iw

[2018-12-27 21:12] dAnjou opened #43 "Error on startup"
Using version 0.2.0
[code]

[2018-12-27 21:16] isacikgoz commented on #42
I tested this, it seems ok.
[code]

[2018-12-27 21:52] isacikgoz commented on #43
gotcha! I think the repository is not on a ref. It's on a commit or something, I'm investigating.

[2018-12-27 22:21] #42 closed

[2018-12-27 22:21] isacikgoz commented on #43
fixed it with the pr #44  , please let me know if you have still issues. Thanks for the feedback

[2018-12-27 22:21] #43 closed

[2018-12-27 22:21] isacikgoz commented on #42
fixed it with the pr #44  , please let me know if you have still issues. Thanks for the feedback

[2018-12-27 22:40] amityo commented on #38
still getting an error with version 0.2.0:

[code]

[2018-12-27 22:58] isacikgoz commented on #38
hey @amityo i'm looking into this right now. hope pr #45 will solve the issue.

[2018-12-27 23:59] bastelfreak opened #46 "gitbatch SIGSEGV from time to time"
Hi,
I've got a big directory with around 120 modules in it. Every second to third start directly fails like this:
[code]

Let me know if you need any more debug information.

[2018-12-28 04:40] wedens commented on #46
I gett this error on every start with ~20 repos.
[code]

[2018-12-28 04:44] isacikgoz commented on #46
Hey, @bastelfreak thanks for submitting the issue. It is a known issue, and it is an undeterministic error. I will investigate this.

[2018-12-28 08:10] isacikgoz commented on #46
I patched this with the PR #47 , can you please update the app and try again and let me see the result? @bastelfreak

I tested it with around ~150 repos and seemed fine. Still, it may vary on computer performance. But the problem is caused by in `gui.go`:
[code]
is called after loading repositories, instead of that I moved this line before loading repositories. I hope this will resolve the issue,

[2018-12-28 12:19] bastelfreak commented on #46
thanks! I cannot reproduce this anymore.

[2018-12-28 12:19] #46 closed

[2018-12-28 13:44] tobixx commented on #38
Sorry to tell you, but still the same on 0.2.1:
[code]

[2018-12-28 13:59] isacikgoz commented on #38
thanks for checking @tobixx I think, I am constantly failing to reproduce the error. Can you print the output of  the `git stash list` command in your repository that results this outcome?

[2018-12-28 14:35] tobixx commented on #38
Thanks for helping @isacikgoz , but unfortunately I can't just paste it here due to an work environment.
But anyway the problem seems more the regex for the hash. So the following should be enough:
[code]

[2018-12-28 14:38] tobixx commented on #38
Great! That worked ! Many thanks!

[2018-12-28 14:43] nandryshak commented on #38
The hotfix in da697f6 also worked for me, thanks!

[2018-12-28 19:12] d1medeiros opened #48 "ssh"
hi, i'm start today in this tool and im in love. But i can sync with remote repository because de tool cant find my keys. can u help me

[2018-12-28 20:55] isacikgoz commented on #48
hey @d1medeiros thanks for checking in! Does fetching or pulling gives an error? If so, can you provide the output or screenshot?

By default, gitbatch uses your git configuration files. If you configured your remote connection with ssh, it will use ssh keys with remote. is your ssh keys are valid with remote? can you check them. (public keys)

by default, ssh keys are stored in .ssh folder in you

[2018-12-28 21:12] gavinws opened #49 "Feature: Support page up/down and home/end navigation"
It would be nice to be able to page up/down and home/end for navigation in the repo list, or some similar key combination (shift + arrows, or vim bindings, etc).

[2018-12-28 21:26] gavinws opened #50 "Slow startup / high CPU with lots of repos"
I have a directory containing about 160 git repos (most are very small, with 1 or 2 "big" repos) and it takes about 3 minutes for the app to load up on my Macbook Pro (2014 w/ SSD), pegging my CPU until it's done loading them all.

I tried with `--recursive-depth=0` and it made no difference.

This happens every time I launch it as well. Should there be some caching mechanism to save time on subse

[2018-12-28 21:39] isacikgoz commented on #49
Hi @gavinws thanks for the suggestion. Currently the library I use for key inputs does not support key sequences(vim keys may not be easy to do), but key combination seems applicable. I will look at this request.

[2018-12-28 21:46] isacikgoz commented on #50
It depends on how big is the repositories. Since gitbatch loads every repository with all its belongings such as every commit etc. It may be slow on a laptop with that much repositories. It is an expected situation IMHO. Still, if you don't need the GUI, you can fetch pull without opening the app.

`gitbatch -q -m fetch` command will run without fully initializing repositories. but will not open a

[2019-01-01 13:44] isacikgoz commented on #48
@d1medeiros I was digging the ssh authentication and found something. Can you tell me the output of `echo $SSH_AUTH_SOCK` command? If the output is nothing; It might be that ssh-agent may not be running.

I will patch this situation with handing over to actual git to authenticate and fetch/pull. But this will be a temporary solution.

[2019-01-01 13:47] isacikgoz commented on #49
hey @gavinws I added page up/down and home/end for navigation in the repositories list. you can check it at `develop` branch

[2019-01-01 14:43] d1medeiros commented on #48
hi @isacikgoz ! I'm sorry for take to long to answer you. I got my keys on .ssh as u said and the echo command output a path with` /private/tmp/.../Listeners`
I'll keep looking because I'm pretty sure that is something that I did wrong and I like a lot the idea of Gitbash

[2019-01-03 17:37] d1medeiros commented on #48
hi @isacikgoz , as i was thinking, i was the problem. all i had to do was` ssh-add ~/.ssh/id_rsa`
thankss

[2019-01-03 17:37] #48 closed

[2019-01-04 16:52] isacikgoz commented on #50
hi @gavinws I implemented async loading with #54 you don’t have to wait large repos anymore

[2019-01-04 16:52] #50 closed

[2019-01-04 16:53] isacikgoz commented on #49
hi @gavinws you can try #54 I added your request. Thanks for the feedback!

[2019-01-04 16:53] #49 closed

[2019-01-04 19:54] gavinws commented on #50
Hey, sorry for the lack of response to your comments. Thank you for working on this issue! The experience is indeed much improved, and `gitbatch -q -m fetch` is probably what I should be using mostly anyway (it seems very fast!).

BTW my interest in this tool after seeing it on reddit (or was it HN) was to do what http://mixu.net/gr/ does, but faster (parallel tasks). For my main use case of `git

[2019-01-04 19:56] gavinws commented on #49
Thank you for adding that! It works great on 0.3.0.

[2019-01-07 14:15] nexeck opened #55 "Homebrew Installation"
It would be cool, to be able to install gitbatch with homebrew on macOS.

[2019-01-07 21:41] isacikgoz commented on #55
thanks for the feedback @nexeck I was thinking on that too. After I handle my dependencies with go modules, I will work on distribution via brew etc.

[2019-01-16 03:55] philipperemy opened #59 "Crash on remoteless repositories"
[code]

[2019-01-16 03:56] philipperemy commented on #59
@isacikgoz if you could help a look that'd be great

[2019-01-16 05:36] isacikgoz commented on #59
@philipperemy thanks for the feedback. It caused by a repository that does not have a remote. I will patch this soon, There are two quick workarounds for now:
- move that repository to another directory
- add a remote

[2019-01-16 05:44] philipperemy commented on #59
@isacikgoz got it thanks!

[2019-01-17 07:35] jcklpe opened #61 "Exec format error"
Hey, cool project!

I installed but have seemed to run into an error immediately. I admit I'm not the most experienced person son maybe this is super obvious.

After installing I run gitbatch and I get an "exec format error" response. Any clue what the issue is?

[2019-01-17 07:42] isacikgoz commented on #61
hey @jcklpe thank you!

Can you provide more information about your environment? (OS, arch etc.)

- Did you installed it via `go get github.com/isacikgoz/gitbatch` or via [release](https://github.com/isacikgoz/gitbatch/releases) page?
- Do you have `git` installed on your system? Does command `git` works? or you aliased it to something else?

[2019-01-17 12:03] WhoMeNope opened #62 "file navigation"
With repo focused, j/k does not work to go down/up through the list of file changes (however h/l works to switch between different panes), arrow up/down works.

It would be nice to have vim controls consistent throughout the app.

[2019-01-17 12:06] WhoMeNope opened #63 "scroll through diff"
when viewing complete diff of a commit, it's not possible to scroll

[2019-01-17 12:12] WhoMeNope opened #64 "tab behaviour"
This might be intended, but seems a bit inconsistent.

In the main screen tab is used to focus on a repository, but after that it cycles through the different panes (commits, status, remotes, branches, stash).
I would expect tab to return me to the main screen, rather work in a zoom in/zoom out way, then change behaviour completely.

[2019-01-17 12:15] WhoMeNope opened #65 "indicate when local repo is ahead (push possible)"

[2019-01-17 12:30] isacikgoz commented on #65
It is indicated revs column `↖ 0 ↘  0` which first one tells the commits haven't pushed (ahead) and second one indicates number of commits that have not merged into current branch.

Also, the color of the commits in the focus tells this:
- Blue: Aheads
- Yellow: Behinds
- Cyan: Even

[2019-01-17 12:36] isacikgoz commented on #64
I was struggling to decide on the keybindings to focus and focus back. I think I need feedback and suggestions to more consistent keybindings.

Scrolling through panes via `tab` key is used on many similar applications. If we use `tab`for just switching screens, then, would h/l buttons will be enough to scroll through panes?

[2019-01-18 07:15] am93 opened #67 "Multidepth repository detection"
Would it be possible for gitbatch to detect multiple repositories which are all under current folder, but on different depths? Example:

->FOLDER1/
-->REPO1
-->REPO2
->FOLDER2/
-->FOLDER3/
---> REPO3
---> REPO4

According to my current observations, repo3 and repo4 are not detected.

[2019-01-18 09:16] isacikgoz commented on #62
fixed with #68

[2019-01-18 09:16] #62 closed

[2019-01-18 09:17] isacikgoz commented on #59
fixed with #60

[2019-01-18 09:17] #59 closed

[2019-01-18 09:17] isacikgoz commented on #63
fixed with #68

[2019-01-18 09:17] isacikgoz commented on #64
fixed with #68

[2019-01-18 09:17] #64 closed

[2019-01-18 09:18] #65 closed

[2019-01-18 09:23] philipperemy commented on #59
@isacikgoz thanks!

[2019-01-18 13:42] am93 opened #69 "Configurable repository name"
I have multiple repositories with same names in different projects, but of course in different folders.

For example:
-> FOLDER1
--> repoName1
--> repoName2
-> FOLDER2
--> repoName3
--> repoName1

In app I now see:

-- repoName1
-- repoName2
-- repoName3
-- repoName1

I have a problem, because I dont know which repoName1 belongs to which folder. It would be awesome if there would be some configura

[2019-01-18 13:52] WhoMeNope commented on #63
The keyboard I'm using does not havev pg up/pg down.

Perhaps also implementing <c-f>/<c-b> (full page forward/full page backwards) and <c-d>/<c-u> (half page down, half page up) would be nice, to keep it consistent with vim.

[2019-01-18 13:55] isacikgoz commented on #69
Hey @am93 thanks for the feedback.

That can be possible, but we should decide on a convenient solution. There can be a few options:

- Only display parent directory if the repo name has the same
- Show all repos parent (if configured)
- Show absolute file path when pressed on a button

The most easy one is the last, but not so user friendly. Second option on the other hand, it is too much detail

[2019-01-18 13:57] isacikgoz commented on #63
@WhoMeNope are you using macbook? pg up/down is mapped to fn+up/down combination.

[2019-01-18 13:58] am93 commented on #69
Agreed. Right now I would prefer option 2. For first iteration I would recommend additional option when running application and show just parent directory name. In next iteration it could be improved with custom configuration file field.

If you need I can offer assistance in implementation.

[2019-01-18 14:01] WhoMeNope commented on #63
That is still a cumbersome combination of keys as it requires to completely change the hand position on the keyboard (as basically anything involving arrow keys).

That's why j/k/control+d/control+u would be more practical for fast (and comfortable) workflow.

[2019-01-18 14:16] isacikgoz commented on #63
@WhoMeNope got it, i will re-open this issue and add proper vim keybindings for page up/down.

- c-B one screen up
- c-F one screen down
- c-U half screen up
- c-D half screen down

[2019-01-20 17:53] Vafa-Andalibi opened #70 "Backup/Restore remotes"
I personally have several different remotes for each repository which is quite time-consuming if I want to set them up in another machine. Do you think adding a backup/restore feature is useful for addressing such issues?

[2019-01-20 21:43] isacikgoz commented on #70
hey @Vafa-Andalibi, gitbatch does not store any information of repositories in any sense. And I don't have any plan to do so.

But you can keep the config file separately which holds the remote configuration.

The configuration can be found at the file: `/path/to/your/repo/.git/config` You can move that file to another machine and you won't need to re-configure remotes.

[2019-01-21 17:13] Vafa-Andalibi commented on #70
Thanks for the reply, so I think I should write a backup/restore script for that.

[2019-01-21 17:13] #70 closed

[2019-01-22 09:02] Scottapotamas opened #71 "Out of range error while navigating list"
## Reproduction Steps

`Linux octagonal 4.20.2-107.current #1 SMP PREEMPT Sun Jan 13 13:42:59 UTC 2019 x86_64 GNU/Linux` with `go version go1.11.4 linux/amd64` as packaged by my distro (Solus). Installed with `go get`

1. from bash, `gitbatch`.
2. List of repositories is populated as screenshot below.
3. Use the down arrow to move cursor focus downwards.
4. Crashes when reaches the `appli-library`

[2019-01-22 09:15] isacikgoz commented on #71
Thanks for the comprehensive feedback @Scottapotamas, can you paste the output of  `git remote -v` command wihile you are in the `appli-library`?

it seems that it crashes when it tries to trim the URL of the remote

https://github.com/isacikgoz/gitbatch/blob/e15d44594001eac2f63db305408d252d58378663/gui/sideviews.go#L98

I guess it is an issue that I never covered, I will patch this quickly once I

[2019-01-22 11:18] Scottapotamas commented on #71
No problem. I redacted the domain of the private git server which is listed as the origin, otherwise nothing too unusual.

[code]

[2019-01-23 11:40] hendricha opened #72 "Feature request: batch branch checkout"
At my workplace we have a rather large project, that contains 10+ repositories (don't ask, not my idea), and sometimes when a larger feature is being implemented, we have to work in multiple repositories, therefore they all will have the dedicated feature branch. What I would like is the option to batch switch to a same named branch in multiple repositories.
eg like this:
Go into Branch Switch mod

[2019-01-23 12:55] isacikgoz commented on #61
This issue is seems to be an issue about trying to run wrong executable. I guess, you should check the executable prior to your OS and Architecture. (e.g. if you are using a 64-bit OS and x86 processor along with a Linux distro you should download gitbatch_0.4.1_linux_amd64.tar.gz)

 Since there is no feedback for almost a week I am closing this issue.

[2019-01-23 12:55] #61 closed

[2019-01-24 08:52] isacikgoz commented on #61
No worries @jcklpe, I'm glad you got it working!

[2019-01-28 13:23] DennisBecker opened #73 "0.4.1 - panic: runtime error: slice bounds out of range"
I have installed v0.4.1 on my Mac OS 10.14.2 notebook and opened gitbatch within the directory I have all git repositories cloned. The following output happens after a while:
[code]

The current go version is:
[code]

[2019-01-28 14:17] isacikgoz commented on #73
Thanks for the bug report @DennisBecker, I will re-implement from scratch to handle stash. Current implementation is messy and does not cover such cases like yours.

In your case; a stash item in a repository breaks the stash parsing function.

I hope this bug will be solved in the next release. If you can find the repository which causes app to crash, can you provide me the output of `git stash l

[2019-01-28 15:00] isacikgoz commented on #73
I did a quick patch, if you can install with `go get -u github.com/isacikgoz/gitbatch` it should solve the issue for now.

[2019-01-28 15:02] isacikgoz commented on #71
I did a quick patch, maybe it will solve this issue for now. You can get the patch if you installed gitbatch with `go get`. To get the update you can run `go get -u github.com/isacikgoz/gitbatch`command.

[2019-01-29 04:55] Scottapotamas commented on #71
Thanks. `0.4.1` doesn't exhibit this problem.

[2019-01-29 04:55] #71 closed

[2019-01-29 05:12] Scottapotamas opened #75 "HTTP authentication support?"
I noticed that the wiki only mentions SSH based repo authentication, I'm forced to use HTTPS due to
firewall rules.

I configured a (long) timeout on the credentials store for git, allowing it to retain my https credentials against repos.

While gitbatch allows for interactive HTTPS auth requests currently, the granted permission isn't maintained across invocations where `git` normally would cache

[2019-02-04 14:57] isacikgoz commented on #73
Since there is no additional feedback, I am closing this issue and mark it as resolved with #74. Thanks for the feedback again @DennisBecker

[2019-02-04 14:57] #73 closed

[2019-02-04 15:04] isacikgoz commented on #75
Hello @Scottapotamas, I never had a chance to test HTTP authentication but it should work fine just like HTTPS. In wiki, I just wanted to mention that SSH auth's are smooth as butter when you work with git binary itself 👍
If you are using MacOS iCloud Keychain stores HTTP/HTTPS credentials  and it shouldn't prompt you to enter credentials. GNOME also has a similar software if you are using GNOME d

[2019-02-04 15:06] isacikgoz commented on #72
I am considering to add this feature, but I need scenarios that explain me how it should work. I also found it useful after I discussed with some of my colleagues.

[2019-02-06 07:02] karayel opened #76 "0.4.1 - Crash when click tab immediately after startup"
Hı,

Thanks for such a great tool like this one. I am happy to use it.

I am facing the following issue when I click tab immediately after the startup .
Here is my assumption about the problem this may help for hotfix.
It seems to me when there is no repository in the panel and click tab button in the keyboard. The following exception occurs.

Using version 0.4.1

[code]

[2019-02-06 12:18] isacikgoz commented on #76
Thanks for the comprehensive feedback @karayel You are right, It happens because the are no repositories loaded. I can apply a hotfix for this just as you proposed.

[2019-02-08 05:18] philipperemy opened #79 "ERROR 53"
I was using the tool when this error happened:

[code]

[2019-02-11 13:47] isacikgoz commented on #79
thanks for the feedback @philipperemy Can you provide me the steps to reproduce this issue?

I suspect that the queue started before the app loaded all repositories.

[2019-02-11 23:41] philipperemy commented on #79
Hum not sure how I did that :)

[2019-02-15 17:29] tcondit opened #80 "undefined variable"
Running `➜ go get -v -u github.com/isacikgoz/gitbatch` on MacOS, things stopped at this error:

Sure enough, it's not defined:

[2019-02-18 13:44] jotarada commented on #80
I have the same problem. Using Ubuntu 18

[code]

[2019-02-18 15:12] isacikgoz commented on #80
Thanks for the feedback @tcondit and @jotarada I will look at this in a couple days. I guess it is a dependency management issue. Which I was avoiding for a while. I guess I need to deal with it :)

[2019-02-19 22:01] tarkah commented on #80
@isacikgoz I'm working on packaging this for Nix, ran into the above issue. I believe #81 fixes this.

[2019-02-23 02:53] seanmars opened #82 "0.4.1 panic: runtime error: index out of range"
[code]

[code]

[2019-02-23 10:57] isacikgoz commented on #82
Thanks for the feedback @seanmars I guess you downloaded `gitbatch'  from the releases page? If so, this issue may be duplicate of #71. You can install with `go get -u github.com/isacikgoz/gitbatch` to newer version. Or in case you want to wait for the next release, I will be releasing the newer version in the near future.

[2019-02-23 20:34] isacikgoz commented on #55
I've just implemented this and it is on the README.md. Also, feel free to open a new issue if you have another request.

[2019-02-23 20:34] #55 closed

[2019-02-23 20:35] isacikgoz commented on #76
I've just fixed it and it's merged to master. Please let me know if you still the issue. Also, feel free to open a new issue.

[2019-02-23 20:35] #76 closed

[2019-02-23 20:36] isacikgoz commented on #80
@tarkah  just fixed it and it's merged to master. Please let me know if you still the issue. Also, feel free to open a new issue.

[2019-02-23 20:36] #80 closed

[2019-02-23 20:41] gregf commented on #82
I just installed with go get -u and i'm getting the same error.

[2019-02-23 20:44] isacikgoz commented on #82
Thanks for the reporting @gregf. Is it @ version `0.4.2`?

[2019-02-23 20:45] gregf opened #84 "panic: runtime error: invalid memory address or nil pointer dereference"
gitbatch: 0.4.1

[code]

[2019-02-23 21:01] isacikgoz commented on #84
Thanks for the feedback @gregf Can you update to the version `0.4.2`? Because if we look at the error it happens here:
https://github.com/isacikgoz/gitbatch/blob/498536a76ff9b01c8db997ce20e572a6e3c2a510/gui/sideviews.go#L70
Which, does not seem right, it is already doing a `nil` check. That means, either repo or its state is `nil`. That brings us to another question. Repositories are already initi

[2019-02-23 21:46] gregf commented on #82
@isacikgoz my mistake this was fixed in 0.4.2 i ran it on 0.4.1 by mistake.

[2019-02-23 21:47] gregf commented on #84
This is ran at a top level directory, below it is probably 15-20 git repos.

[2019-02-23 21:47] gregf commented on #84
There is one svn dir in there would that screw it up possibly?

[2019-02-23 23:29] isacikgoz commented on #84
Well, it can be. But it shouldn’t be. I will test it with a svn repo.

[2019-02-24 06:52] seanmars commented on #82
Yes, i downloaded from the release page. It's because take too long time by install with `go get -u github.com/isacikgoz/gitbatch` and i don't know why, so i install it by the release page.

But it's good to know that will be fixed on next version.
Well done.

[2019-02-25 21:20] isacikgoz commented on #84
I tried with a svn repo, it didn't break anything. Does it crash right in the beginning?

[2019-02-25 21:58] gregf commented on #84
Yeah soon as I start it, anything I can do to help debug?

[2019-02-26 11:31] #84 closed

[2019-02-26 11:31] isacikgoz commented on #84
I've just add a fix for crash. And it's merged to master. Please let me know if you still the issue. Also, feel free to open a new issue.

[2019-02-26 22:57] gregf commented on #84
I just updated with go get -u and it's now fixed. Thank you!.

[2019-02-28 18:44] #82 closed

[2019-03-12 15:55] sam-kamerer opened #87 "Missing range checking (panic: runtime error: index out of range)"
https://github.com/isacikgoz/gitbatch/blob/a5e4ed9b5ba5273667c0f8abcce74c14dcd0db67/gui/dynamicview.go#L62

[code]

[2019-03-19 10:58] isacikgoz commented on #87
Hey @sam-kamerer , thanks for the feedback I will be looking into this.

[2019-04-01 11:35] isacikgoz commented on #87
I've just fixed it and it's merged to master. Please let me know if you still the issue. Also, feel free to open a new issue.

[2019-04-01 11:35] #87 closed

[2019-04-05 16:51] tarkah opened #89 "New release w/ gomod support"
Can you create a new release now that there is gomod support?  I'm packaging this for Solus and would prefer a release tag to source from.  Thanks!

[2019-04-09 08:17] isacikgoz commented on #89
Hey @tarkah, thanks for the feedback. I've just tagged a new release for this. The latest release so far is v0.4.3

[2019-04-09 08:17] #89 closed

[2019-04-09 15:57] tarkah commented on #89
Thanks, @isacikgoz!

[2019-05-03 06:47] utkuufuk opened #90 "Installation wiki page outdated"
https://github.com/isacikgoz/gitbatch/wiki/Installation

Above page points to v0.4.1, and when I customize the script like this:
[code]
I get the following error:
[code]

OS: Ubuntu 18.04

[2019-05-03 10:51] isacikgoz commented on #90
Hey @utkuufuk , thanks for the feedback. v0.4.3 was just a tag for indicating the go.mod. However, I added binaries for this tag. Now you can download them.

[2019-05-03 10:51] #90 closed

[2019-05-16 11:54] isacikgoz commented on #72
Hey @hendricha, I've just implemented this and it's merged to master. Also, feel free to open a new issue if you need another feature.

The usage is:
<ctrl-b> to select branch to checkout
<c> checkout mode
<space> mark repos you want to checkout
<enter> start batch job

[2019-05-16 11:54] #72 closed

[2019-05-16 11:56] isacikgoz commented on #79
I am closing this issue, both you and me are not able to reproduce it, if you face it again feel free to open a new issue.

[2019-05-16 11:56] #79 closed

[2019-05-17 01:39] philipperemy commented on #79
@isacikgoz ok!

[2019-09-02 14:46] afranke commented on #75
I have a few repos that also force me to use (the same) HTTPS auth and I’m using the GNOME keyring for their password. Even when it is unlocked (by e.g. trying `git fetch` in the terminal prior to running gitbatch) I get the `!  authentication required (u)` message.

When I select multiple repos and provide authentication details for of them with u, it is not taken into account for the other ones.

[2019-09-05 06:31] isacikgoz commented on #75
Hello @afranke actually it is intended to ask credentials for each login, since some repositories may require different credentials. Also for security reasons I don't want to store them anywhere.

However, it may be a good idea to store credentials while running the program and try to authenticate with that information on the next repo only if share the same "user.email" property.

[2019-09-11 23:31] gregf opened #94 "Select all repositories at once"
It would be nice to be able to hit one key to update all the repositories in the directory at once. Rather than my current situation where I hit the spacebar probably 15 times before I can update.

[2019-09-12 06:10] isacikgoz commented on #94
Hello @gregf, it is possible actually. `ctrl+space` selects all, `backspace` unselects all. You can see all controls by hitting `h` button.

[2019-10-09 08:49] teto opened #98 "gitbatch stays stuck (no new output) when run from $HOME"
I've packaged gitbatch for nixos since it looks exactly what I was looking for. It works in a folder with 5 repositories but when I run it in my $HOME which contains ~15/20 git repositories (with a few big ones kernel, nixpkgs, wireshark, several worktrees), it seems stuck. I am surprised it considers some dotfiles as directories as well ? (Ia have a few dotfiles that are symlinks to readonly file

[2019-10-09 12:39] isacikgoz commented on #98
Hey @teto, thanks for the feedback! I appreciated that you supplied the logs :)

Actually the program only checks if any entry in the path is a git directory, since you set `log level` to `trace` it is normal to see this output. Nothing unusual.

It shouldn't be a problem to find your repositories in the home folder. Are they located directly under the `$HOME` or somewhere deeper? If it is the cas

[2019-10-09 14:14] teto commented on #98
I've uploaded an strace in case it helps,
https://transfer.sh/sDBtf/log

I wonder why it's going into hidden directories, and recursively ?  Is it recursive by default ? (seems the depth was 0). There seems to be many futex calls timing out. Some of my directories are symlinks too so I wonder if it's an issue as well.

[2019-10-09 22:29] isacikgoz commented on #98
Actually it turns out there was a subtle bug in the recursive function. I've fixed it. But this issue is not something related with recursion I believe. But we can give it a try. I will prepare a release soon.

Symlinks are not making an issue for gitbatch. I also use some repositories with symlinks. For the futex calls side: I will look at the `strace` but it may be related to go runtime since I

[2019-10-11 06:38] teto commented on #98
I confirm the recent changes don't fix it.

[2019-10-21 06:06] ozkansen opened #99 "Gitbatch not using saved password"
Hi,
Gitbatch is not using git-credentials in saved password.

Thanks
Özkan ŞEN

[2019-11-02 02:05] anarcat opened #100 "option to not recurse through filesystems"
there should be a way to tell gitbatch to avoid recursing through filesystems or better control the "walker" so that it can skip directories.

in my case, i'd love if gitbatch could just crawl my entire `$HOME` except this can't work here because `~/.fuse` is a magic directory that uses `afuse` to dynamically connect to remote servers. recursing in there will wreak havoc and find all sorts of horr

[2019-11-04 09:19] isacikgoz commented on #100
Hi @anarcat, thanks for the feedback. I also think there is a need to rework in recursion implementation.

I will be looking into this and thanks for your compliments :)

[2019-11-05 15:49] anarcat opened #101 "gitbatch hangs on FIFOs"
I was wondering why gitbatch wasn't working in my home directory. I first thought it was it was recursing into remote filesystems (#100, which would still be a problem), but after investigating with strace, I saw it just hung on a fifo:

[code]

that's an old FIFO that I don't use anymore and could remove, but there are many more FIFOs in various directories in `$HOME` that hang, for example `.win

[2020-02-02 10:34] ram-bv opened #103 "Feature request: Provide binaries for people running MSYS bash on Windows"

[2020-02-03 08:41] isacikgoz commented on #103
Actually this project is pure Go and it shouldn't be a problem to run on Windows. I didn't included the binaries because I didn't tested on Windows, feel free to compile on windows and share your feedback :)

Let me know if you need assistance regarding to compiling on windows.

[2020-02-03 08:42] isacikgoz commented on #101
I will add a feature for ignoring such paths which will be configurable.

[2020-04-07 15:52] teto commented on #98
Dunno what changed but retried recently and it worked :s closing ;)

[2020-04-07 15:52] #98 closed

[2020-04-17 21:53] vyorkin opened #104 "Weird rendering in nested directories"
First, I think this is a really great idea for a such tool. Thanks for working on it!

I'm using kitty terminal
[code]

[code]

![image](https://user-images.githubusercontent.com/988849/79616956-dbba8b80-80f5-11ea-8e6f-65d1b51e7535.png)

[2020-06-18 23:45] Zialus commented on #73
I'm getting this on version  0.5.0

[code]

[2020-06-26 21:01] enderahmetyurt opened #106 "Overview typo"
Hi,

I see a typo for `Overiew` version 0.5.0. However, I've checked source code. You fixed the typo.

![Screen Shot 2020-06-26 at 23 52 02](https://user-images.githubusercontent.com/447588/85900600-c609c680-b808-11ea-8873-d0572dd2d36b.png)
![Screen Shot 2020-06-26 at 23 54 53](https://user-images.githubusercontent.com/447588/85900605-c73af380-b808-11ea-96d8-dca08e3435ee.png)

I installed it via H

[2020-07-10 18:46] #106 closed

[2020-08-17 18:44] ScatteredRay commented on #103
I just cloned the repo and ran go build ./cmd/gitbatch and it seems to have succeeded without errors, and gitbatch.exe seems to run.

So far it appears to work on Windows.

[2020-08-17 18:50] ScatteredRay commented on #75
I'm having this problem also on Windows, It's exasperated by using 2fa for GitHub, and having to have an App Token,

The standard Git client is configured to use wincred with

`[credential]
helper = wincred`

I wonder if it's possible to use the same helpers?

[2020-09-17 09:40] erdaltsksn opened #109 "Auto release with goreleaser and GitHub workflow"
I'm using [goreleaser](https://goreleaser.com) with [GitHub workflow](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions) to automatically release my go applications.

This can be beneficial for this because of the features following:

- auto-generated changelog
- homebrew support
- easy cross-platform compiling

I'm really happy especially with the homebrew update and

[2021-01-19 13:18] sheb-gregor commented on #104
Same issue on Tilix Terminal:

![image](https://user-images.githubusercontent.com/11243996/105039638-75d6a800-5a69-11eb-9b7a-3e249d593e2c.png)

[2021-01-22 13:54] alexandear commented on #99
@ozkansen please provide steps to reproduce.

[2021-01-30 08:20] ozkansen commented on #99
Example, git credentials default save password `/home/auser/.git-credentials`, i think so gitbatch this file not using because i was catch authentication error. @alexandear

[2021-03-16 09:11] hendricha opened #112 "Suggestion: Add apt install instructions to readme.md"
Now that gitbatch is available from apt in Ubuntu 20.10 and apparently debian testing/unstable.

[2021-04-15 13:23] mhagnumdw commented on #72
@isacikgoz, thanks for the answer above! I was looking for it.

If the branch does not exist, is it possible to prevent it from being created?

[2021-04-16 18:05] isacikgoz commented on #112
Thanks for the heads up @hendricha would you mind opening a PR for this? Also, could you please state that I don't maintain the `apt` repository for new releases.

[2021-04-16 18:06] isacikgoz commented on #109
Thanks a lot @erdaltsksn 🎉 I would love to see this happen, sorry for the late answer BTW. Please feel free to open a PR for this 👍

[2021-04-16 18:08] isacikgoz commented on #104
This should be fixed by #113. Please feel free to re-open issue if you ever experience this again! And thanks a lot for the feedback!

[2021-04-16 18:08] #104 closed

[2021-04-28 13:55] mhagnumdw opened #115 "Where are the logs?"
I'm having some strange problems and I'm starting the application like this: `gitbatch --log-level="trace"`

Where are the logs?

I've had the problems below and I want to see if the log provides more details:
- application quitted with an unhandled error: there is no job with given repoID
- application quitted with an unhandled error: same job already is in the queue
- unclassified error (ao lado

[2021-06-10 19:15] StephenJBrasel opened #116 "Multiple Repository Selection Crash"
CURRENT BEHAVIOR: When selecting 2-5 repositories at once, an error is thrown saying:
`application quitted with an unhandled error: same job already is in the queue`
EXPECTED BEHAVIOR: When selecting any number of repositories, application continues and other commands may be entered.

So I can get this issue a few ways, and I'm rather new at this so let me know if I'm just using it wrong:

1. navi

[2021-07-29 10:20] tobiasadam0770 opened #117 "Feature Request: Configuration option to rebase instead of merge in Pull mode"
A really helpful tool, thanks a lot!

Sadly the current implementation of Pull mode does not work for me, because it seems to always merge the fetched remote. It would be really cool if it was possible to [configure Pull mode to do a rebase instead of a merge](https://git-scm.com/docs/git-pull#Documentation/git-pull.txt---rebasefalsetruemergespreserveinteractive), which is needed by my current wor

[2021-08-07 00:58] carloswm85 opened #118 "Is it possible to add a discussion board?"
I think that even discussion like this one shouldn't be placed in the issues tab.

The irony...

I have a little suggestion to make, which is not an issue.

[2021-08-10 23:50] carloswm85 opened #120 "GitHub Pages repo asking for authentication when it shouldn't"
From within gitbatch I'm asked for authentication for the repo `carloswm85.github.io`. But not when I use just Git from the console.

Are you experiencing the same problem? It seems to be something specific to GitHub pages, since all the other repositories seems to work correctly.

![image](https://user-images.githubusercontent.com/29048235/128948834-8c223670-be25-4954-b06e-905bcb0b473e.png)

That

[2021-08-31 19:27] joshes commented on #116
I see this frequently managing ~210 repositories, haven't really found the workaround although it _eventually_ works, but patience is required. I'll try and make some time to debug, but wanted to share that you're not alone in this issue.

[2022-01-02 22:30] forrie opened #121 "MacOS Monterey, not able to get terminal UI working, searches limited repos"
I have several git repos under /usr/local/src (100s).   When I run gitbatch, either from the binary provided or by compiling the GO src, with "." as the directory under /usr/local/src (or not), gitbatch only parses about 30 repos, but acknowledges I have over 400.

I am not able to use the terminal options (TAB, SPACE) etc.  My TERM=xterm-256color, which is standard on MacOS.

[2022-03-05 23:28] laoshaw opened #122 "should be able to quit easily at any given times?"
Just installed and played with it, then I don't know how to bail out? Can this support vim keybinding, at least, q should _always_ be there if I want to quit? I ended up killing my shell to quit.

[2022-11-08 04:52] tekumara opened #123 "Wiggly column lines"
<img width="1040" alt="Screen Shot 2022-11-08 at 3 51 48 pm" src="https://user-images.githubusercontent.com/125105/200478132-624813c4-8b46-4827-84b3-9807f4967060.png">

gitbatch version 0.6.1

[2022-11-19 10:16] midgethoen commented on #123
same here:

![image](https://user-images.githubusercontent.com/4599476/202845900-f14a28a8-0682-449d-af3f-9cb5c57e872d.png)

gitbatch version 0.5.0

[2022-11-19 10:21] midgethoen commented on #123
grabbed the latest binary release and it doesnt have the issue 👌🏿